.app {
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;

    .projectname {
        color: black;
        padding: .3em;
    }

    .app-action {
        z-index: 1;
        background-color: white;
        border-radius: 20px;
        min-height: 600px;
        width: 460px;
        -webkit-box-shadow: 0px 0px 78px 6px rgba(173,173,173,.7);
        -moz-box-shadow: 0px 0px 78px 6px rgba(173,173,173,.7);
        box-shadow: 0px 0px 78px 6px rgba(173,173,173,.7);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: relative;

        &__wrap {
            margin-top: 15%;
            width: 80%;
            height: 62%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            // background-color: lightgrey;

            p {
                padding: 0 15px;
                line-height: 2.8;
            }

            .lesson {
                font-weight: 600;

                span {
                    color: green;
                }
            }

            .test {
                margin-top: 40px;
            }

            .pancake {
                position: absolute;
                top: 170px;
                padding: 0 15px;
            }

            .dragcontainer {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 25px;

                div {
                    display: flex;
                    justify-content: center;
                    margin: 0 8px;
                    width: 50px;
                    // background-color: pink;
                    border-bottom: 1px solid grey;
                }

                // .drag {
                    // margin: 0 8px;
                // }
            }

            .destination {
                display: inline-block;
                // visibility: hidden;
                width: 50px;
                height: 35px;
                border-bottom: 1px solid green;
                margin-right: 5px;
                vertical-align: text-bottom; 
                line-height: 1;
                text-align: center;            
            }
        }

        .alertbox {
            height: 0px;
            width: 85%;
            border-radius: 8px;
            background-color: rgb(211, 255, 211);
            position: absolute;
            bottom: 35px;
            transition: .15s;
            display: flex;
            justify-content: center;
            // align-items: center;
            // display: none;

            .message {
                color: green;
                padding: 20px;
                font-size: 1rem;
                display: none;
            }
        }

        button {
            padding: 10px 45px;
            background-color: rgb(51, 209, 51);
            border-radius: 30px;
            position: absolute;
            bottom: 45px;
            color: white;
            font-weight: 600;
            box-shadow: 1px 3px 0 0 rgb(30, 128, 30);
            transition: .1s;

            &:active {
                background-color: rgb(44, 192, 44);
                box-shadow: 0 1px 0 0 green;
                bottom: 46px;
            }
        }

    }
}
